@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
body {
  background:#f3f3f3;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #fff;
}
a:hover{
  text-decoration: none;
  color: #f24846
}

button:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #f34747;
  height: 90px;
  color: white;
  margin-bottom: 2rem;
  border-bottom: solid 5px rgba(142, 31, 31, 0.55);
  text-align: center
}

.App-title {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding: 16px
}

/* .recipe_buttons {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
} */

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin: 0px 15px;
}

.recipes__title {
  color: #000;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #8c8383;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 68%;
  padding: 0.4rem;
}

.form__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: -14rem auto 0 auto;
  width: 60%;
  z-index: 3;
  position: relative;
}

.active-recipe__img {
  height: 500px !important;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75)
}

.active-recipe__title {
  letter-spacing: 2px;
  margin: 1rem 0;
  font-family: 'Dancing Script', cursive;
  font-size: 32px
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span a{
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #e74c3c;
  margin-left: 10px;
}

button{
  background: #f24846;
  color: #000;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.4em;
  padding: 0 2em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  -o-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  display: block;
  font-family: 'Dancing Script', cursive;
  margin: auto;
}
button:hover{
  background:rgba(255, 255, 255, 0);
  color:#000;
  text-decoration: none;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f24846;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}